:root{
    --backgorund: white;
    --midgorund: #f2f2f2;
    --foreground: black;
    --font: black;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}
#intro{
    position: fixed;
    z-index: 2;
    background-color: var(--backgorund);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center ;
    justify-content: center;
    animation: disappear 1s linear 2s forwards;
}
#intro h1{
    display: inline;
    transform: translateZ(0);
    font-size: 10vh;
}
#tic-tac{
    animation: disappear 1s linear 2s forwards;
    /* enLarge 2s ease-in 3s forwards; */
}
/*
@keyframes enLarge {
    0%{
        font-size: 10vh;
        padding: 2vh;
    }
    100%{
        font-size: 15vh;
        padding: 4vh;
    }
} */
#web{
    background-color: blue;
    padding: 2vh;
    margin: 2vh;
    border-radius: 2vh;
    color: var(--backgorund);
    opacity: 0;
    animation: fade-in 1s linear 0.5s forwards, disappear 1s linear 2s forwards;
     /* enLarge 2s linear 3s forwards; */
}
@keyframes fade-in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes disappear{
    0%{display: flex;}
    100%{display: none;}
}
.content{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgorund);
}
.navbar{
    padding: 1.5vh 0 1.5vh 0;
    position: fixed;
    font-size:x-large;
    text-align: right;
    width: 100vw;
    height: auto;
    background-color: var(--midgorund);
}
.navbar ul li{
    display: inline;
}
.navbar ul li a{
    padding: 1vh 2vh 1vh 2vh;
    transition: 0.2s;
}
.navbar ul li a:hover{
    cursor: pointer;
    background-color: var(--backgorund);
    border-radius: 1vh;
    transition: 0.5s;
}
.navbar ul li a {
    text-decoration: none;
    color: var(--font);
}
#title{
    margin-inline: -2vh ;
    cursor: pointer;
    float: left;
    background-color: var(--midgorund);
}
#webInner{
    background-color: blue;
    width: max-content;
    padding: 1vh;
    border-radius: 1vh;
    color: var(--midgorund);
}
#nav-end{
    margin-right: 1vw;
}